<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>EAI</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/lawn/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/lawn/images/android-chrome-192x192.png" sizes=192x192>
  <link rel="manifest" href="/lawn/css/site.webmanifest">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <style></style>

</head>

<body class='bg-dark'>
  <h1 id='logo' class='text-primary text-center display-1'>EAI MOBILE</h1>
  <div id="page2" class='text-center'>
    <a href="/snow">
      <h3>Snow Removal</h3>
    </a><br>
    <a href="/lawn">
      <h3>Lawn Care</h3>
    </a><br>
  </div>

</body>

</html>
